spring:
  datasource:
    url: jdbc:mysql://localhost:3306/old_platform
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  sql:
    init:
      mode: always