server:
  port: 8083

spring:
  application:
    name: migration-service


  datasource:
    source:
      url: jdbc:mysql://localhost:3306/old_platform
      username: root
      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver


    target:
      url: jdbc:postgresql://localhost:5432/new_platform
      username: postgres
      password: postgres
      driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  batch:
    jdbc:
      initialize-schema: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: migration-service
